* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    background-color:#ECE3CE;
    padding: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 75vh;
    gap: 200px;
    justify-content: center;
    align-items: center;
}
/*
#rock, #paper, #scissors{
    display: flex;
    border: 2px solid #171717;
    border-radius: 20px;
    min-height: 250px;
    min-width: 250px;
}

#rock, #paper, #scissors, h1 {
    color: #171717;
    justify-content: center;
    align-items: center;
}